name: Test
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]
jobs:
  test-project:
    name: Test Project
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, windows-2022]
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Configure Project
        uses: threeal/cmake-action@v2.1.0
        with:
          options: ERRORS_ENABLE_TESTS=ON
          run-build: false

      - name: Build Project
        run: cmake --build build

      - name: Test Project
        uses: threeal/ctest-action@v1.1.0

      - name: Check Coverage
        if: ${{ matrix.os != 'windows-2022' }}
        uses: threeal/gcovr-action@v1.2.0
        with:
          excludes: |
            build/*
            test/*
          fail-under-line: 100
